body{
	text-align: center;
	margin: 0;
	margin-top: -20px;
	height: 100%;
	padding: 0;
	background: white;
	font-family: Kristen ITC;
}
h1{
	color: skyblue;
	padding: 20px;
	text-align: center;
}
.titulo_principal{
	background: #2356AA;
}
.menu_navegacion {
	text-align: center;
}
.menu_navegacion ul{
	margin: 10px;
	padding: 10px;
}
.menu_navegacion li{
	display: inline;
}
.menu_navegacion a{
	margin: 10px;
	padding: 10px;
	text-decoration: none;
	background: white;
	color: purple;
}
.menu_navegacion li.active a, .menu_navegacion li:hover a{ /*.menu_navegacion li:hover a{} para cuando el cursor esté apuntando al link*/
	color: #2356AA;
}
.informacion_personal{
	text-align: center;
	color: purple;
	margin-top: 50px;
	/*border: 3px solid #2356AA;*/
	font-size: 24px;
	font-family: AR DELANEY;
}
ul{
	text-align: center;
	list-style: none;
	color:#2356AA;
}
.circulo{
	border-radius: 20%
}
.texto{
	margin: 20px;
	color:purple;
	font-family: Candara;
	font-size: 28px;
}
.borde{
	margin: 10px;
	padding: 10px;
}
h4{
	color: purple;
	padding: 10px;
	font-size: 22px;
	text-align: center;
	font-family: Mahoma;
}